<h1>Welcome to <%= @reservation.restaurant_name %></h1>
<p>
  You have successfully reserved a table.<br>
</p>
<table>
  <tr>
    <td>Restaurant</td>
    <td>:</td>
    <td><%= @reservation.restaurant_name %></td>
  </tr>
  <tr>
    <td>Reservation time</td>
    <td>:</td>
    <td><%= @reservation.reservation_time %></td>
  </tr>
  <tr>
    <td>No of guests</td>
    <td>:</td>
    <td><%= @reservation.guest_count %></td>
  </tr>
  <tr>
    <td>Reserved table</td>
    <td>:</td>
    <td><%= @reservation.table_name %></td>
  </tr>
</table>
<p>Thanks for choosing us and have a great day!</p>